[Desktop Entry]
Name=PowerUPP
Comment=Simple GUI for UPP
Exec=powerupp
Terminal=false
Type=Application
Icon=powerupp.png
Categories=Settings;HardwareSettings;
StartupNotify=true
